services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    environment:
      APP_ROLE: web
      DJANGO_SETTINGS_MODULE: config.settings.development
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - media_data:/app/media
    depends_on:
      - redis
    restart: on-failure

  celery_worker:
    build:
      context: .
      dockerfile: docker/Dockerfile
    environment:
      APP_ROLE: worker
      DJANGO_SETTINGS_MODULE: config.settings.development
    env_file:
      - .env
    volumes:
      - .:/app
      - media_data:/app/media
    depends_on:
      - redis
    restart: on-failure

volumes:
  media_data:
